.sign-in li {
     margin: 5px;
     display: inline-block
}

a.button {
    background: #E3E3E3;
    border: 1px solid #C1C1C1;
    color: #333;
    text-shadow: 0 1px 0 #fff;
    font-family: 'helvetica neue', 'helvetica', 'arial', 'sans-serif';
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    display: inline-block;
    margin: 0 0 0 5px;
    padding: 8px 20px 9px;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-border-radius: 3px 3px 3px 3px;
            border-radius: 3px 3px 3px 3px;

    -webkit-box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.8) inset;
            box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.8) inset;
}

/* TWITTER */

.twitter-button {
    border: 1px solid #ccc;
    color: #444;
    font-size: 13px;
    font-weight: bold;
    line-height: 1;
    display: inline-block;
    padding: 6px 8px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff,
                 0 -1px 0 #BFBFBF;

    background: -webkit-linear-gradient(center top , #EFEFEF 0%, #D7D7D7 100%) repeat 0 0 #EFEFEF;
    background: -moz-linear-gradient(center top , #EFEFEF 0%, #D7D7D7 100%) repeat 0 0 #EFEFEF;
    background: -ms-linear-gradient(center top , #EFEFEF 0%, #D7D7D7 100%) repeat 0 0 #EFEFEF;
    background: -o-linear-gradient(center top , #EFEFEF 0%, #D7D7D7 100%) repeat 0 0 #EFEFEF;
    background: linear-gradient(center top , #EFEFEF 0%, #D7D7D7 100%) repeat 0 0 #EFEFEF;
}

button.blue,
.twitter-button.blue {
    border-color: #3E8DC9 #438FCA #2E71A4;
    color: #fff;
    text-shadow: 0 -1px 0 #2F74A9;

    background: -webkit-linear-gradient(center top, #4FC7CB 0%, #2F91AC 100%) repeat 0 0 #60CBD2;
    background: -moz-linear-gradient(center top, #4FC7CB 0%, #2F91AC 100%) repeat 0 0 #60CBD2;
    background: -ms-linear-gradient(center top, #4FC7CB 0%, #2F91AC 100%) repeat 0 0 #60CBD2;
    background: -o-linear-gradient(center top, #4FC7CB 0%, #2F91AC 100%) repeat 0 0 #60CBD2;
    background: linear-gradient(center top, #4FC7CB 0%, #2F91AC 100%) repeat 0 0 #60CBD2;
}
button.pressed,
.twitter-button.pressed {
    border-color: rgba(204, 204, 204, 0.4);

    background: -webkit-linear-gradient(center top, rgba(215, 215, 215, 0.4) 0%, rgba(239, 239, 239, 0.4) 100%) repeat 0 0, rgba(215, 215, 215, 0.4);
    background: -moz-linear-gradient(center top, rgba(215, 215, 215, 0.4) 0%, rgba(239, 239, 239, 0.4) 100%) repeat 0 0, rgba(215, 215, 215, 0.4);
    background: -ms-linear-gradient(center top, rgba(215, 215, 215, 0.4) 0%, rgba(239, 239, 239, 0.4) 100%) repeat 0 0, rgba(215, 215, 215, 0.4);
    background: -o-linear-gradient(center top, rgba(215, 215, 215, 0.4) 0%, rgba(239, 239, 239, 0.4) 100%) repeat 0 0, rgba(215, 215, 215, 0.4);
    background: linear-gradient(center top, rgba(215, 215, 215, 0.4) 0%, rgba(239, 239, 239, 0.4) 100%) repeat 0 0, rgba(215, 215, 215, 0.4);
}
button.pressed:hover,
.twitter-button.pressed:hover {
    background: #EDEDED;
    border-color: rgba(204, 204, 204, 0.3) !important;
}
button:hover:not(.disabled),
.twitter-button:hover:not(.disabled) {
    border-color: #C2C2C2;
    cursor: pointer;
    text-decoration: none;

    background: -webkit-linear-gradient(center top, #FBFBFB 0%, #E2E2E2 100%) repeat 0 0 #FBFBFB;
    background: -moz-linear-gradient(center top, #FBFBFB 0%, #E2E2E2 100%) repeat 0 0 #FBFBFB;
    background: -ms-linear-gradient(center top, #FBFBFB 0%, #E2E2E2 100%) repeat 0 0 #FBFBFB;
    background: -o-linear-gradient(center top, #FBFBFB 0%, #E2E2E2 100%) repeat 0 0 #FBFBFB;
    background: linear-gradient(center top, #FBFBFB 0%, #E2E2E2 100%) repeat 0 0 #FBFBFB;
}
button.blue:hover:not(.disabled),
.twitter-button.blue:hover:not(.disabled) {
    border-color: #3583BE;

    background: -webkit-linear-gradient(center top, #79CFD9 0%, #34A2BD 100%) repeat 0 0 #7AB0DA;
    background: -moz-linear-gradient(center top, #79CFD9 0%, #34A2BD 100%) repeat 0 0 #7AB0DA;
    background: -ms-linear-gradient(center top, #79CFD9 0%, #34A2BD 100%) repeat 0 0 #7AB0DA;
    background: -o-linear-gradient(center top, #79CFD9 0%, #34A2BD 100%) repeat 0 0 #7AB0DA;
    background: linear-gradient(center top, #79CFD9 0%, #34A2BD 100%) repeat 0 0 #7AB0DA;

    -webkit-box-shadow: none;
            box-shadow: none;
}
button.edit:hover:not(.disabled),
.twitter-button.edit:hover:not(.disabled) {
    background: #FEF9F1;
    border-color: #D2CEC7;
    text-decoration: underline;
}
button:active:not(.disabled),
.twitter-button:active:not(.disabled) {
    background: -webkit-linear-gradient(center top, #D7D7D7 0%, #EFEFEF 100%) repeat 0 0 #D7D7D7;
    background: -moz-linear-gradient(center top, #D7D7D7 0%, #EFEFEF 100%) repeat 0 0 #D7D7D7;
    background: -ms-linear-gradient(center top, #D7D7D7 0%, #EFEFEF 100%) repeat 0 0 #D7D7D7;
    background: -o-linear-gradient(center top, #D7D7D7 0%, #EFEFEF 100%) repeat 0 0 #D7D7D7;
    background: linear-gradient(center top, #D7D7D7 0%, #EFEFEF 100%) repeat 0 0 #D7D7D7;
}
button.blue:active:not(.disabled),
.twitter-button.blue:active:not(.disabled) {
    background: -webkit-linear-gradient(center top, #3377AA 0%, #65A2D0 100%) repeat 0 0 #3377AA;
    background: -moz-linear-gradient(center top, #3377AA 0%, #65A2D0 100%) repeat 0 0 #3377AA;
    background: -ms-linear-gradient(center top, #3377AA 0%, #65A2D0 100%) repeat 0 0 #3377AA;
    background: -o-linear-gradient(center top, #3377AA 0%, #65A2D0 100%) repeat 0 0 #3377AA;
    background: linear-gradient(center top, #3377AA 0%, #65A2D0 100%) repeat 0 0 #3377AA;
}

.twitter-signin { padding: 5px 7px; }

.twitter-signin .icon,
.twitter-signin .logo {
    background: url("../imgs/icons/twitter-icon.png") no-repeat 0 0;
    display: inline-block;
    height: 16px;
    margin-bottom: 2px;
    vertical-align: middle;
}
.twitter-signin .icon {
    margin-right: 2px;
    width: 21px;
}
.twitter-signin .logo {
    background-position: -21px 0;
    margin-left: 1px;
    width: 59px;
}

/* FACEBOOK */

.facebook-button {
    border: 1px solid #ccc;
    color: #444;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    line-height: 1;
    padding: 6px 8px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff,
                 0 -1px 0 #BFBFBF;

    background: -webkit-linear-gradient(center top, #EFEFEF 0%, #D7D7D7 100%) repeat 0 0 #EFEFEF;
    background: -moz-linear-gradient(center top, #EFEFEF 0%, #D7D7D7 100%) repeat 0 0 #EFEFEF;
    background: -ms-linear-gradient(center top, #EFEFEF 0%, #D7D7D7 100%) repeat 0 0 #EFEFEF;
    background: -o-linear-gradient(center top, #EFEFEF 0%, #D7D7D7 100%) repeat 0 0 #EFEFEF;
    background: linear-gradient(center top, #EFEFEF 0%, #D7D7D7 100%) repeat 0 0 #EFEFEF;
}

button.blue,
.facebook-button.blue {
    background: -webkit-linear-gradient(center top, #617FB6 0%, #426094 100%) repeat 0 0 #617FB6;
    background: -moz-linear-gradient(center top, #617FB6 0%, #426094 100%) repeat 0 0 #617FB6;
    background: -o-linear-gradient(center top, #617FB6 0%, #426094 100%) repeat 0 0 #617FB6;
    background: -ms-linear-gradient(center top, #617FB6 0%, #426094 100%) repeat 0 0 #617FB6;
    background: linear-gradient(center top, #617FB6 0%, #426094 100%) repeat 0 0 #617FB6;
    border-color: #698ACA #5B82CD #3B5EA4;
    color: #fff;
    text-shadow: 0 -1px 0 #3B5EA4;
}
button.pressed,
.facebook-button.pressed {
    border-color: rgba(204, 204, 204, 0.4);

    background: -webkit-linear-gradient(center top, rgba(215, 215, 215, 0.4) 0%, rgba(239, 239, 239, 0.4) 100%) repeat 0 0, rgba(215, 215, 215, 0.4);
    background: -moz-linear-gradient(center top, rgba(215, 215, 215, 0.4) 0%, rgba(239, 239, 239, 0.4) 100%) repeat 0 0, rgba(215, 215, 215, 0.4);
    background: -ms-linear-gradient(center top, rgba(215, 215, 215, 0.4) 0%, rgba(239, 239, 239, 0.4) 100%) repeat 0 0, rgba(215, 215, 215, 0.4);
    background: -o-linear-gradient(center top, rgba(215, 215, 215, 0.4) 0%, rgba(239, 239, 239, 0.4) 100%) repeat 0 0, rgba(215, 215, 215, 0.4);
    background: linear-gradient(center top, rgba(215, 215, 215, 0.4) 0%, rgba(239, 239, 239, 0.4) 100%) repeat 0 0, rgba(215, 215, 215, 0.4);
}
button.pressed:hover,
.facebook-button.pressed:hover {
    background: none repeat 0 0 #EDEDED !important;
    border-color: rgba(204, 204, 204, 0.3) !important;
}
button:hover:not(.disabled),
.facebook-button:hover:not(.disabled) {
    border-color: #C2C2C2;
    cursor: pointer;
    text-decoration: none;

    background: -webkit-linear-gradient(center top, #FBFBFB 0%, #E2E2E2 100%) repeat 0 0 #FBFBFB;
    background: -moz-linear-gradient(center top, #FBFBFB 0%, #E2E2E2 100%) repeat 0 0 #FBFBFB;
    background: -ms-linear-gradient(center top, #FBFBFB 0%, #E2E2E2 100%) repeat 0 0 #FBFBFB;
    background: -o-linear-gradient(center top, #FBFBFB 0%, #E2E2E2 100%) repeat 0 0 #FBFBFB;
    background: linear-gradient(center top, #FBFBFB 0%, #E2E2E2 100%) repeat 0 0 #FBFBFB;
}
button.blue:hover:not(.disabled),
.facebook-button.blue:hover:not(.disabled) {
    border-color: #3583BE;

    background: -webkit-linear-gradient(center top, #799ED9 0%, #3474BD 100%) repeat 0 0 #7AB0DA;
    background: -moz-linear-gradient(center top, #799ED9 0%, #3474BD 100%) repeat 0 0 #7AB0DA;
    background: -ms-linear-gradient(center top, #799ED9 0%, #3474BD 100%) repeat 0 0 #7AB0DA;
    background: -o-linear-gradient(center top, #799ED9 0%, #3474BD 100%) repeat 0 0 #7AB0DA;
    background: linear-gradient(center top, #799ED9 0%, #3474BD 100%) repeat 0 0 #7AB0DA;

    -webkit-box-shadow: none;
            box-shadow: none;
}

button.edit:hover:not(.disabled),
.facebook-button.edit:hover:not(.disabled) {
    background: none repeat 0 0 #FEF9F1;
    border-color: #D2CEC7;
    text-decoration: underline;
}

button:active:not(.disabled),
.facebook-button:active:not(.disabled) {
    background: -webkit-linear-gradient(center top, #D7D7D7 0%, #EFEFEF 100%) repeat 0 0 #D7D7D7;
    background: -moz-linear-gradient(center top, #D7D7D7 0%, #EFEFEF 100%) repeat 0 0 #D7D7D7;
    background: -ms-linear-gradient(center top, #D7D7D7 0%, #EFEFEF 100%) repeat 0 0 #D7D7D7;
    background: -o-linear-gradient(center top, #D7D7D7 0%, #EFEFEF 100%) repeat 0 0 #D7D7D7;
    background: linear-gradient(center top, #D7D7D7 0%, #EFEFEF 100%) repeat 0 0 #D7D7D7;
}

button.blue:active:not(.disabled),
.facebook-button.blue:active:not(.disabled) {
    background: -webkit-linear-gradient(center top, #3377AA 0%, #65A2D0 100%) repeat 0 0 #3377AA;
    background: -moz-linear-gradient(center top, #3377AA 0%, #65A2D0 100%) repeat 0 0 #3377AA;
    background: -ms-linear-gradient(center top, #3377AA 0%, #65A2D0 100%) repeat 0 0 #3377AA;
    background: -o-linear-gradient(center top, #3377AA 0%, #65A2D0 100%) repeat 0 0 #3377AA;
    background: linear-gradient(center top, #3377AA 0%, #65A2D0 100%) repeat 0 0 #3377AA;
}

.facebook-signin { padding: 5px 7px;}

.facebook-signin .icon,
.facebook-signin .logo {
    background: url("../imgs/icons/facebook-icon.png") no-repeat 0 0;
    display: inline-block;
    height: 16px;
    margin-bottom: 2px;
    vertical-align: middle;
}
.facebook-signin .icon,
.facebook-signin .logo {
    display: inline-block;
    height: 16px;
    margin-bottom: 2px;
    vertical-align: middle;
}
.facebook-signin .icon {
    margin: -2px 3px -2px 1px;
    height: 22px;
    width: 10px;
}
.facebook-signin .logo {
    background-position: -21px 0;
    margin-left: 1px;
    width: 59px;
}

/* GITHUB */

.github-button {
    border: 1px solid #ccc;
    color: #444;
    font-size: 13px;
    font-weight: bold;
    line-height: 1;
    display: inline-block;
    padding: 6px 8px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff,
                 0 -1px 0 #BFBFBF;

    background: -webkit-linear-gradient(center top, #EFEFEF 0%, #D7D7D7 100%) repeat 0 0 #EFEFEF;
    background: -moz-linear-gradient(center top, #EFEFEF 0%, #D7D7D7 100%) repeat 0 0 #EFEFEF;
    background: -ms-linear-gradient(center top, #EFEFEF 0%, #D7D7D7 100%) repeat 0 0 #EFEFEF;
    background: -o-linear-gradient(center top, #EFEFEF 0%, #D7D7D7 100%) repeat 0 0 #EFEFEF;
    background: linear-gradient(center top, #EFEFEF 0%, #D7D7D7 100%) repeat 0 0 #EFEFEF;
}

.github-button:hover { color: #000; }

button.blue,
.github-button.blue {
    border-color: #698ACA #5B82CD #3B5EA4;
    color: #fff;
    text-shadow: 0 -1px 0 #3B5EA4;

    background: -webkit-linear-gradient(center top, #617FB6 0%, #426094 100%) repeat 0 0 #617FB6;
    background: -moz-linear-gradient(center top, #617FB6 0%, #426094 100%) repeat 0 0 #617FB6;
    background: -ms-linear-gradient(center top, #617FB6 0%, #426094 100%) repeat 0 0 #617FB6;
    background: -o-linear-gradient(center top, #617FB6 0%, #426094 100%) repeat 0 0 #617FB6;
    background: linear-gradient(center top, #617FB6 0%, #426094 100%) repeat 0 0 #617FB6;
}
button.pressed,
.github-button.pressed {
    border-color: rgba(204, 204, 204, 0.4);

    background: -webkit-linear-gradient(center top, rgba(215, 215, 215, 0.4) 0%, rgba(239, 239, 239, 0.4) 100%) repeat 0 0, rgba(215, 215, 215, 0.4);
    background: -moz-linear-gradient(center top, rgba(215, 215, 215, 0.4) 0%, rgba(239, 239, 239, 0.4) 100%) repeat 0 0, rgba(215, 215, 215, 0.4);
    background: -ms-linear-gradient(center top, rgba(215, 215, 215, 0.4) 0%, rgba(239, 239, 239, 0.4) 100%) repeat 0 0, rgba(215, 215, 215, 0.4);
    background: -o-linear-gradient(center top, rgba(215, 215, 215, 0.4) 0%, rgba(239, 239, 239, 0.4) 100%) repeat 0 0, rgba(215, 215, 215, 0.4);
    background: linear-gradient(center top, rgba(215, 215, 215, 0.4) 0%, rgba(239, 239, 239, 0.4) 100%) repeat 0 0, rgba(215, 215, 215, 0.4);
}
button.pressed:hover,
.github-button.pressed:hover {
    background: none repeat 0 0 #EDEDED !important;
    border-color: rgba(204, 204, 204, 0.3) !important;
}
button:hover:not(.disabled), .github-button:hover:not(.disabled) {
    background: -webkit-linear-gradient(center top, #FBFBFB 0%, #E2E2E2 100%) repeat 0 0 #FBFBFB;
    background: -moz-linear-gradient(center top, #FBFBFB 0%, #E2E2E2 100%) repeat 0 0 #FBFBFB;
    background: -ms-linear-gradient(center top, #FBFBFB 0%, #E2E2E2 100%) repeat 0 0 #FBFBFB;
    background: -o-linear-gradient(center top, #FBFBFB 0%, #E2E2E2 100%) repeat 0 0 #FBFBFB;
    background: linear-gradient(center top, #FBFBFB 0%, #E2E2E2 100%) repeat 0 0 #FBFBFB;
    border-color: #C2C2C2;
    cursor: pointer;
    text-decoration: none;
}
button.blue:hover:not(.disabled),
.github-button.blue:hover:not(.disabled) {
    border-color: #3583BE;

    background: -webkit-linear-gradient(center top, #799ED9 0%, #3474BD 100%) repeat 0 0 #7AB0DA;
    background: -moz-linear-gradient(center top, #799ED9 0%, #3474BD 100%) repeat 0 0 #7AB0DA;
    background: -ms-linear-gradient(center top, #799ED9 0%, #3474BD 100%) repeat 0 0 #7AB0DA;
    background: -o-linear-gradient(center top, #799ED9 0%, #3474BD 100%) repeat 0 0 #7AB0DA;
    background: linear-gradient(center top, #799ED9 0%, #3474BD 100%) repeat 0 0 #7AB0DA;

    -webkit-box-shadow: none;
            box-shadow: none;
}
button.edit:hover:not(.disabled),
.github-button.edit:hover:not(.disabled) {
    background: none repeat 0 0 #FEF9F1;
    border-color: #D2CEC7;
    text-decoration: underline;
}
button:active:not(.disabled),
.github-button:active:not(.disabled) {
    background: -webkit-linear-gradient(center top, #D7D7D7 0%, #EFEFEF 100%) repeat 0 0 #D7D7D7;
    background: -moz-linear-gradient(center top, #D7D7D7 0%, #EFEFEF 100%) repeat 0 0 #D7D7D7;
    background: -ms-linear-gradient(center top, #D7D7D7 0%, #EFEFEF 100%) repeat 0 0 #D7D7D7;
    background: -o-linear-gradient(center top, #D7D7D7 0%, #EFEFEF 100%) repeat 0 0 #D7D7D7;
    background: linear-gradient(center top, #D7D7D7 0%, #EFEFEF 100%) repeat 0 0 #D7D7D7;
}
button.blue:active:not(.disabled),
.github-button.blue:active:not(.disabled) {
    background: -webkit-linear-gradient(center top, #3377AA 0%, #65A2D0 100%) repeat 0 0 #3377AA;
    background: -moz-linear-gradient(center top, #3377AA 0%, #65A2D0 100%) repeat 0 0 #3377AA;
    background: -ms-linear-gradient(center top, #3377AA 0%, #65A2D0 100%) repeat 0 0 #3377AA;
    background: -o-linear-gradient(center top, #3377AA 0%, #65A2D0 100%) repeat 0 0 #3377AA;
    background: linear-gradient(center top, #3377AA 0%, #65A2D0 100%) repeat 0 0 #3377AA;
}

.github-signin { padding: 5px 7px; }

.github-signin .icon,
.github-signin .logo {
    background: url("../imgs/icons/github-icon.png") no-repeat 0 0;
    display: inline-block;
    height: 16px;
    margin-bottom: 2px;
    vertical-align: middle;
}
.github-signin .icon,
.github-signin .logo {
    display: inline-block;
    height: 16px;
    margin-bottom: 2px;
    vertical-align: middle;
}
.github-signin .icon {
    margin: -1px 3px -1px 1px;
    height: 20px;
    width: 20px;
}
.github-signin .logo {
    background-position: -21px 0;
    margin-left: 1px;
    width: 59px;
}
