/* ==========================================================================

   ========================================================================== */

html {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

body {
    font: 14px/22px Helvetica, Helvetica Neue, Arial;
    padding: 0;
    margin: 20px auto;
    width: 90%;
}
a {
    color: #669;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font: bold 36px/100% Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 5px 0;
}
h2 {
    font: bold 16px/100% Arial, Helvetica, sans-serif;
    margin: 0 0 .5em;
    padding: 0;
}
p {
    margin: 0;
    padding: 0;
}



/************************************************************************************
STRUCTURE
*************************************************************************************/

#pagewrap {
    display: inline-block;
    width: 100%;
    padding: 0;
}
#header {
    height: auto;
    padding: 5px 0;
    margin: 0;
}
#header h1 {
	margin: 5px;
}

#table {
	background: #5f9e2b;
	width: 100%;
}
th {
	border: 1px hidden #5f9e2b;
	color: #fff;
	text-shadow: 1px 1px 1px #5f9e2b;
	height: 30px;

	background-color: #85d642;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#85d642), to(#6ab130));
	background-image: -webkit-linear-gradient(top, #85d642, #6ab130);
	background-image:    -moz-linear-gradient(top, #85d642, #6ab130);
	background-image:      -o-linear-gradient(top, #85d642, #6ab130);
	background-image:         linear-gradient(to bottom, #85d642, #6ab130);
}
td {
	background: rgb(223, 223, 223);
	color: #000;
	min-width: 100px;
	width: 45%;
}
td:first-child {
	width: 15%;
}

label {
	color: #0361ae;
}

#pagewrap {
    border: solid 1px #ccc;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

.header-container {
    border-bottom: 1px solid #999;
}

.footer-container,
.main aside {
    border-top: 1px solid #999;
}

.title {
    color: #000;
    display: inline-block;
	margin: 5px 5px 0 0;
	font-size: 18px;
	font-weight: bold;
}

.menu, ol, ul {
    padding: 0 0 0 10px;
}


nav {
    display: inline-block;
}
ul ul {
	margin-left: 20px;
}
nav ul,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li {
    display: inline-block;
    width: auto;
}
nav a {
    color: #000;
    text-shadow: 0 1px 0 rgba(255,255,255,.75);
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 4px 0;
}

/* TOOLBAR NAV */

#toolbar {
	width: 50%;
}

#toolbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#toolbar li {
    display: inline-block;
    width: 13%;
}
#toolbar a {
    color: #000;
    text-shadow: 0 1px 0 rgba(255,255,255,.75);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 4px 10px;
}
#toolbar a:hover {
    text-decoration: underline;
}

/* ACTIONS */

#actions {
	float: right;
}
#actions ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#actions li {
    display: inline-block;
    width: auto;
}
#actions a {
    color: #000;
    text-shadow: 0 1px 0 rgba(255,255,255,.75);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 4px 10px;
}
#actions a:hover {
    text-decoration: underline;
}

/* TOOLS NAV */

#tools ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#tools li {
    display: inline-block;
    width: auto;
}
#tools a {
    color: #000;
    text-shadow: 0 1px 0 rgba(255,255,255,.75);
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 4px 10px;
}


#note-nav,
#note-list,
#show-note {
	overflow-y: scroll;
}
#note-nav {
    padding: 5px 0 0 5px;
}
#note-list,
#show-note {
	border: 1px solid #ccc;
	padding: 0;
	margin: 3px;

	-webkit-box-shadow: -0.5px 0 2px 0 rgba(100, 100, 100, 0.4);
			box-shadow: -0.5px 0 2px 0 rgba(100, 100, 100, 0.4);
}

#note-list,
#show-note {
    background: #f8f8f8;
}
#header,
#note-nav,
#note-list,
#show-note {
    margin-bottom: 5px;
}

/* NOTE NAV */

#note-nav {
	min-width: 70px;
	overflow: hidden;
}
#note-nav > li {
	/*display: block;
	white-space: pre;*/
	width: 100%;
}
#note-nav li > a {
	background: url(../img/arrow.png) no-repeat 0 4px;
	padding: 0 0 0 18px;
	text-decoration: none;
}
#note-nav li.expanded > a {
	background-position: 0 -10px;
}
#note-nav li .count {
	margin-left: 5px;
	color: #999;
}



/* ==============
   ============== */

#notes {
    min-width: 150px;
}

#notes .date {
	color: rgb(130, 130, 130);
}
#notes .tags {
	color: rgb(157, 183, 252);
}
#notes ul {
    list-style: none;
}
#notes ul ul {
    /*margin: 5px 0 0 5px;*/
}
#notes li {
	border: 1px solid #ddd;
    display: block;
    width: 98%;
    min-height: 50px;
    margin: 0 0 1px;
    padding: 5px;
    float: left;

    -webkit-border-radius: 6px;
			border-radius: 6px;
}
#notes li:hover,
#notes .selected {
	background-color: rgb(105, 211, 79);
	background: rgba(105, 211, 79, 0.5);
}
#notes h2 {
	max-height: 17px;
	margin: 2px;
	padding: 0;
	overflow: hidden;
}
#notes p {
	max-height: 50px;
	overflow: hidden;
}

/* SHOW NOTE */

#show-note {

}

#note-list .filter,
#note-list .viewing,
#show-note .top,
#show-note .mid {
	display: block;
	width: 100%;
	padding: 5px;
	float: left;
}
#show-note .top {
	background: #fff;
}
#note-list .filter,
#show-note .mid {
	border: solid rgb(216, 227, 228);
	border-width: 2px 0;

	background-color: rgb(216, 227, 228);
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(216, 227, 228, 0.9)), to(rgba(216, 227, 228, 0.3)));
	background-image: -webkit-linear-gradient(top, rgba(216, 227, 228, 0.9), rgba(216, 227, 228, 0.3));
	background-image:    -moz-linear-gradient(top, rgba(216, 227, 228, 0.9), rgba(216, 227, 228, 0.3));
	background-image:      -o-linear-gradient(top, rgba(216, 227, 228, 0.9), rgba(216, 227, 228, 0.3));
	background-image:         linear-gradient(to bottom, rgba(216, 227, 228, 0.9), rgba(216, 227, 228, 0.3));
}

#show-note h2 {
	display: inline-block;
	padding: 0 5px;
	min-width: 100px;
	max-width: 200px;
	float: left;
	padding: 0 5px;
}
#show-note input.title,
#show-note input.url,
#show-note input.tag {
	border: none;
	padding: 3px 5px;
}
#show-note select {
	border: 1px solid #eee;
	margin: 5px;
	height: 30px;
	width: 150px;
}
#show-note div.description,
#show-note div.description:active {
	background: #fff;
	border: 1px solid #ddd;
	display: inline-block;
	width: 98%;
	padding: 5px;
	min-height: 200px;
}
#show-note textarea,
#show-note textarea:active {
	border: 1px solid #ddd;
	width: 100%;
	height: 200px;
	min-height: 200px;
}

/* NOTE TYPES */

#note-types ul {
    list-style: none;
}
#note-types li {
    display: inline-block;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
