<td valign="top">
	<div id="show-note">
		<form ng-model="editedNote">
			<div class="top">
				<input type="hidden" name="modified" id="modified" />

				<input type="text" class="title" name="title" placeholder="Click to set title..." value="{{ editedNote.title }}" ng-model="editedNote.title" note-update />

				<select name="notebook" class="notebook" ng-model="editedNote.notebook">
					<option value="{{ editedNote.notebook }}" selected="selected" note-update>{{ editedNote.notebook.name }}</option>
					<option value="new-notebook" ng-click="newNotebook(note)">New Notebook</option>
				</select>

				<span class="new-notebook hidden">
					<input type="text" name="new-notebook" class="notebook" placeholder="Notebook name..." note-update />
					<a href="#" id="cancel" ng-click="cancelNotebook()">x</a>
				</span>
			</div>

			<div class="mid">
				<input type="url" class="url" name="url" value="{{ editedNote.url }}" placeholder="http://" ng-model="editedNote.url" note-update />

				<!-- <ul class="tag" data-name="nameOfSelect" ng-model="editedNote.tags" tagit></ul> -->
				<input type="text" ng-model="editedNote.tags" class="tag input-large" ui-select2="{ tags: editedNote.tags }">
			</div>

			<textarea class="description" ng-model="editedNote.description" note-update>{{ editedNote.description }}</textarea>
		</form>
	</div>
</td>