	<div id="show-note" ng-show="editedNote">
		<form ng-model="editedNote">
			<div class="top">
				<input type="hidden" name="modified" id="modified" />

				<input type="text" class="title" name="title" placeholder="Click to set title..." value="{{ editedNote.title }}" ng-model="editedNote.title" note-update />

				<select name="notebook" class="notebook" ui-select2 ng-model="editedNote.notebook">
					<option ng-repeat="notebook in notebooks" ng-selected="editedNote.notebook">{{ notebook.name }}</option>
					<option value="new-notebook" ng-click="newNotebook()">New Notebook</option>
				</select>

				<span class="new-notebook hidden">
					<input type="text" name="new-notebook" class="notebook" placeholder="Notebook name..." note-update />
					<a href="#" id="cancel" ng-click="cancelNotebook()">x</a>
				</span>
			</div>

			<div class="mid">
				<input type="url" class="url" name="url" value="{{ editedNote.url }}" placeholder="http://" ng-model="editedNote.url" note-update />

				<input type="hidden" ui-select2="{{ tags }}" ng-model="editedNote.tags" class="tag input-large" />
				<!-- <input type="text" ng-model="editedNote.tags" class="tag input-large" ui-select2="{ tags: editedNote.tags }"> -->
			</div>

			<textarea class="description" ng-model="editedNote.description" note-update>{{ editedNote.description }}</textarea>
		</form>
	</div>
